<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kalkulator Octal-Decimal</title>
</head>
<body>
  <form action="/kalkulatorBilanganPage" method="get" style="position: absolute; right: 10px; top: 50px;">
    <input type="submit" value="Ke kalkulator bilangan">
  </form>

  <div>
    <form action="/calculateDecimalOctal" method="post">
      <div style="text-align: center;">
        <h1>Kalkulator Decimal - Octal</h1>
        <div>Jenis Perhitungan</div>
        <div><input type="radio" name="pilihan" value=1>Dec to Oct <input type="radio" name="pilihan" value=2>Oct to Dec</div>
        <div>Masukkan angka</div>
        <div><input type="number" name="tobeconverted"></div>
        <input type="submit" value="Hitung">
      </div>
    </form>
    <div id="hasil" style="text-align: center;">
      <h2 style="color: red;"><%= (locals.status)?errormessage:'' %> </h2>
      <h2><%= (locals.hasil)?hasilmessage:'' %> </h2>
    </div>
  </div>

  <form action="/kalkulatorTanggalPage" method="get"
  style="position: absolute; left: 10px; top: 50px;">
    <input type="submit" value="Ke kalkulator tanggal">
  </form>
</body>
</html>