<!doctype html><html lang="en">
<head><title>Admin</title></head>
<body>
    <button><a href="/" style="text-decoration: none">Logout</a></button>
    <h1>Halaman Admin</h1>
    <form action="/uploadBerita" method="post" enctype="multipart/form-data">
        <h2>Upload Berita</h2>
        <p style="color: red;"><%= locals.error %></p>
        <p>Judul Berita: <input type="text" name="judul"></p>
        <p>Kategori Berita: <select name="kategori">
                <option value="Politik">Politik</option>
                <option value="Lifestyle">Lifestyle</option>
                <option value="Olahraga">Olahraga</option>
            </select></p>
        <p>Isi Berita: </p><p><textarea name="isi"></textarea></p>
        <p>Tanggal: <input type="date" name="tanggal"> <input type="time" name="waktu"></p>
        <p>Upload your photo: <input type="file" name="gambar" accept="image/png,image/jpeg"></p>
        <input type="submit" value="Post">
    </form>
    <div><h2>List Semua Berita</h2>
        <table border="1">
            <thead><tr><th>ID Berita</th><th>Judul Berita</th><th>Action</th></tr></thead>
            <tbody>
            <%  locals.berita.forEach(element => { %>
                <tr><td><%=element.id%></td>
                <td><%=element.judul%></td>
                <td>
                    <form action="/deleteBerita" class="form-delete">
                        <input type="hidden" name="id" value="<%=element.id%>">
                        <input type="submit" value="Delete">
                    </form>
                </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
    <script src="./jquery.js"></script>
    <script>
        $('.form-delete').submit(
            function(e){
                e.preventDefault();
                let form = e.target;
                let url = form.action;
                console.log(url);
                $.ajax({ url: url, method:"delete",
                    data: $(form).serialize()
                }).then((e)=>{ window.location.reload() });
            }
        );
    </script>
</body></html>