<!doctype html> <html lang="en">
<head> <title>MENIT COM</title> </head>
<body style="background-color: lightgrey;">
    <button><a href="/" style="text-decoration: none">Logout</a></button>
    <div style="text-align: center;">
        <h1>MENIT COM</h1>
        <div id="tempatBerita"></div>
    </div>
    <script src="./jquery.js"></script>
    <script>
        $(document).ready( e => loadBerita() );
        function loadBerita(){
            $("#tempatBerita").html('');
            $.ajax('/berita').then(
                (e)=>{
                    e.forEach(temp=>{
                        let comment = ``;
                        for(let i = 0; i < temp.comments.length; i++ ) { 
                            let komen = temp.comments[i];
                            comment += `<p><span style='color:blue;'>${komen.user}</span> - ${komen.komentar}</p>`;
                        }
                        let tanggal = new Date(temp.tanggal);
                        let tampilantanggal = tanggal.toLocaleString('id-ID', {
                            month: 'short', year: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit', hour12: false
                        });
                        $("#tempatBerita").append(
                            `<div style="background-color: aliceblue; width: min-content; padding: 5px; margin: auto; margin-bottom: 10px; ">
                                <h1 style="text-align: left">${temp.judul}</h1>
                                <p style="text-align: left">${tampilantanggal}</p>
                                <img src="${temp.gambar}" style="max-width: 500px;">
                                <p style="text-align: justify;">${temp.isi}</p>
                                <div style="text-align: left;">
                                    <p>Comments</p> ${comment} <hr>
                                    <form action="commentBerita" method="post" style="padding-left: 5px;" class="form-komentar" onsubmit='submitKomentar(event)'>
                                        <p><input type="text" name="comment" placeholder="Put your comment here" style="width: 80%;"> <input type="submit" value="Send"></p>
                                        <input type="hidden" name="idberita" value="${temp.id}">
                                    </form>
                                </div>
                            </div>`
                        )
                    });
            })
        }
        function submitKomentar(e){
            e.preventDefault();
            let form = e.target;
            let url = form.action;
            console.log(url);
            console.log(form);
            console.log($(form).serialize());
            $.ajax({ url:url, method: "POST", data: $(form).serialize(), })
            .then(e =>  loadBerita() );
        }
    </script>
</body>
</html>