<!doctype html><html lang="en">
<head> <title>Halaman Login</title>
<style>
    *{ box-sizing: border-box; padding: 0px; margin: 0px; }
    body{ background-color: darkorange; }
    #boundingbox{ padding-top: 20px; }
    #form{ margin: auto; background-color: white; width: 400px; }
    #form * { padding: 5px; width: 100%; }
</style>
</head>
<body>
    <div id="boundingbox">
        <form action="checkLogin" method="post" id="form">
            <h1 style="text-align: center">LOGIN PAGE</h1>
            <p><input type="text" name="username" placeholder="email"></p>
            <p><input type="text"name="password" placeholder="password"></p>
            <p><input type="submit" value="LOGIN" style="background-color: chartreuse"></p>
        </form>
    </div>
</body></html>