<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kalkulator Bilangan</title>
</head>
<body>
  <form action="/kalkulatorDecimalOctalPage" method="get" style="position: absolute; left: 10px; top: 50px;">
    <input type="submit" value="Ke kalkulator decimal - oktal">
  </form>

  <div>
    <form action="/calculateBilangan" method="post">
      <div style="text-align: center;">
        <h1>Kalkulator Bilangan</h1>
        <div>Jenis Perhitungan</div>
        <div>Masukkan angka pertama</div>
        <div><input type="number" name="angka1"></div>
        <div>Masukkan angka kedua</div>
        <div><input type="number" name="angka2"></div>
        <div>Pilih operator</div>
        <div><select name="operator">
          <option value="+">+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">/</option>
        </select></div>
        <input type="submit" value="Hitung">
      </div>
    </form>
    <div id="hasil" style="text-align: center;">
      <h2 style="color: red;"><%= (locals.status)?errormessage:'' %> </h2>
      <h2><%= (locals.hasil)?hasilmessage:'' %> </h2>
    </div>
  </div>

  <form action="/KalkulatorTanggalPage" method="get"
  style="position: absolute; right: 10px; top: 50px;">
    <input type="submit" value="Ke kalkulator tanggal">
  </form>
</body>
</html>