<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kalkulator Tanggal</title>
</head>
<body>
  <form action="/kalkulatorDecimalOctalPage" method="get" style="position: absolute; right: 10px; top: 50px;">
    <input type="submit" value="Ke kalkulator decimal - octal">
  </form>

  <div>
    <form action="/calculateTanggal" method="post">
      <div style="text-align: center;">
        <h1>Kalkulator Tanggal</h1>
        <div>Masukkan tanggal pertama</div>
        <div><input type="date" name="tgl1"></div>
        <div>Masukkan tanggal kedua</div>
        <div><input type="date" name="tgl2"></div>
        <input type="submit" value="Hitung">
      </div>
    </form>
    <div id="hasil" style="text-align: center;">
      <h2 style="color: red;"><%= (locals.status)?errormessage:'' %> </h2>
      <h2><%- (locals.hasil)?hasilmessage:'' %> </h2>
    </div>
  </div>

  <form action="/KalkulatorBilanganPage" method="get"
  style="position: absolute; left: 10px; top: 50px;">
    <input type="submit" value="Ke kalkulator bilangan">
  </form>
</body>
</html>